
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/wwwroot/lib/react/react.js"></script>
    <script src="~/wwwroot/lib/react/react-dom.js"></script>
</head>
<body>
    <div id="main"> 
    </div>
    <script type="text/javascript">
        var __React = React;
        var __ReactDom = ReactDOM;
    </script>
    <script src="~/Scripts/MyComponent.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>
